
* {
    margin: 0;
    padding: 0;
    
}

body{
    font-family: "Fira Sans", sans-serif;
    background-color: rgba(241, 241, 243, 1);
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 31px;
    margin-right: 160px;
    margin-left: 160px;
    
}

.navbar h3 {
    font-size: 24px;
    color: #0E0E0E;
    margin-bottom: 51px;
    font-size: 32px;
    
}

.btn-sign-in {
    border: 1px solid #006A50;
    margin-bottom: 51px;
    font-size: 16px;
    font-weight: bold;
    padding:  15px 30px;
    border-radius: 8px;
    color: #006A50;
    background-color: transparent;
    
    
}


.hero {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #C6E4D6;
    border-radius: 15px;
    
    margin-right: 160px;
    margin-left: 160px;
    padding: 32px; 
    height: 560px;
    
}

.hero-text {
    flex: 1;
    min-width: 300px;
    margin-right: 24px; 
    padding: 60px;

    
}

.hero h2 {
    font-size: 24px; 
    color: rgba(14, 14, 14, 0.5);
    margin-bottom: 16px;
    
    
}

.hero h1 {
    font-size: 56px; 
    color: #0E0E0E;
    font-family: "Fira Sans", sans-serif;
}

.hero-btn {
    display: inline-block;
    padding: 17px 34px; 
    margin-top: 24px; 
    border: none;
    border-radius: 10px;
    background-color: #006A50;
    color: rgba(255, 255, 255, 1)   ;
    
    font-size: 18px; 
}

.hero-img {
    max-width: 50%;
    height: auto;
    flex: 1;
    min-width: 300px;
    max-width: 474.03px;
}


.section-title {

    font-weight: bold;
    color: #0E0E0E;
    margin-top: 80px;
    font-size: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 31px;
    margin-right: 160px;
    margin-left: 160px;
    
}

.Optional-section-content {
    margin-top: 32px;
    font-size: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 31px;
    margin-right: 160px;
    margin-left: 160px;
    
}

.card {
    background: rgba(255, 255, 255, 1);
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 24px;
    
    text-align: left;
    margin-top: 32px;
    
}

.card img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    padding-top: 25px;


}



.card h3 {
    font-size: 20px;
    margin-bottom: 8px;
    color: rgba(14, 14, 14, 0.8);
    margin-top: 25px;
}

.card p {
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    margin-top:12px;
}

.main-part{
    
    margin-top: 80px;
    font-size: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 31px;
    margin-right: 160px;
    margin-left: 160px;
}


main h2{
    font-size: 40px; 
    color: rgba(14, 14, 14, 1);
    font-weight: bold;
}

main p{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    margin-top: 24px;
}


.section-content {
    margin-top: 32px;
    font-size: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 31px;
    margin-right: 160px;
    margin-left: 160px;
}

.card-2nd {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 24px;
    width: 350px;
    height: 260px;
    
    text-align: left;
}

.card-2nd img {
    width: 50px;
    height: 50px;
    margin-bottom: 16px;
}

.card-2nd h3 {
    font-size: 20px;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 12px;
}

.card-2nd p {
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    line-height: 1.5;
}

.card-2nd button {
    padding: 11px 20px;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    margin-top: 16px;
    font-weight: bold;
    border: none;
    
}

.blue-btn-learn-more {
    background-color: rgba(84, 144, 245, 1);
}

.green-btn-learn-more {
    background-color: rgba(9, 161, 92, 1);
}

.orange-btn-learn-more {
    background-color: rgba(255, 194, 57, 1);
}


/* card-2nd background color */
.blue {
    background-color: rgba(84, 144, 245, 0.2);
}

.green {
    background-color: rgba(198, 228, 214, 1);
}

.orange {
    background-color: rgba(247, 235, 207, 1);
}



.main-2nd-part{
    text-align: left;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.03) 2.884%, rgba(16, 16, 16, 0) 101.034%), 
        url('../assets/quote-bg.png');

    background-color: rgba(255, 255, 255, 1);
    border-radius: 15px;
    margin: 24px 10%;
    padding: 24px; 
    height: 256px;
    margin-top: 32px;
    background-repeat: no-repeat;
    background-position: 50px 50px;
    padding-top: 31px;
    margin-right: 160px;
    margin-left: 160px;
    margin-top: 80px;
    
}
    



.main-2nd-part p{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.8);
    margin-top: 50px;
    margin-left: 24px;
    
}

.main-2nd-part h3{
    font-size: 20px;
    margin-top: 50px;
    margin-left: 23px ;
    color: rgba(14, 14, 14, 0.8);
}

.main-2nd-part h6{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.8);
    margin-top: -20px;
    padding: 20px;

}
.main-3rd-part{
    text-align: left;
    border-radius: 15px;
    margin-left: 160px;
    margin-right: 160px;
    height: 256px;
    margin-top: 80px;
    margin-bottom: 24px;
}

.table-container{
    font-size: 32px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 31px;
    margin-right: 160px;
    margin-left: 160px;
    background-color: rgba(255, 255, 255, 1);
    text-align: left;
    align-items: center;
    padding: 32px;
    border-radius: 8px;
    margin-top: -200px;
    
}


/* table section start from herre  */
  
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    border: 1px solid rgba(14, 14, 14, 0.15); /*this border add outside hr line in table */  
    
    

}
  
th, td {
    padding: 32px;
    text-align: left;

     
}
  
th {
    background-color: rgba(198, 228, 214, 1);
    color: rgba(14, 14, 14, 1);
    font-size: 20px;
    
    
    
}
  
td {
    
    font-size: 16px;
    color: rgba(14, 14, 14, 1);
    border: 1px solid rgba(14, 14, 14, 0.15);    /*this border add inside hr line in table */       
    font-weight: bold;
  }



  .downKey select {
    padding: 12px 16px;
    font-size: 16px;
    border: 1px solid rgba(14, 14, 14, 1);
    border-radius: 5px;
    background-color: rgba(198, 228, 214, 1);
    color: rgba(14, 14, 14, 1);
    font-weight: bold;
    margin-left: 110px;
}


/* table section end here  */



.main-4th-part-title h2{
    display: flex;
    text-align: left;
    margin-right: 160px;
    margin-left: 160px;
    font-size: 40px;
    font-weight: bold;
    margin-top: 80px;
    caret-color: rgba(14, 14, 14, 1);

}


.main-4th-part-title p{
    display: flex;
    text-align: left;
    margin-top: 24px;
    margin-right: 160px;
    margin-left: 160px;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}


.main-4th-part-contant{
    text-align: left;
    margin-top: 32px;
    margin-right: 160px;
    padding: 48px 48px;
    height: 315px;
    margin-left: 160px;
    text-align: left;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 15px;

}




.main-4th-part-contant h2{
    margin-left: 488px;
    font-size:32px ;
    color: rgba(14, 14, 14, 0.8);
    text-align: left ;
    margin-top: -308px;
}

.main-4th-part-contant p{
    margin: 16px;
    margin-top: 20px;
    margin-right: 208px;
    margin-left: 488px;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}
.main-4th-part-title p{
    display: flex;
    text-align: left;
    margin-top: 24px;
    margin-right: 160px;
    margin-left: 160px;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}


.main-4th-part-contant3{
    text-align: left;
    margin-top: 32px;
    margin-right: 160px;
    padding-top: 48px;
    padding-right: 48px;
    padding-right: 48px;
    padding-left: 48px;
    height: 350px;
    margin-left: 160px;
    text-align: left;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 15px;

}




.main-4th-part-contant3 h2{
    margin-left: 488px;
    padding-top: 56px;
    font-size:32px ;
    color: rgba(14, 14, 14, 0.8);
    text-align: left ;
    margin-top: -380px;
}

.main-4th-part-contant3 p{
    margin: 16px;
    margin-top: 20px;
    margin-right: 208px;
    margin-left: 488px;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}

.news-img{
    margin-top: 1px;
    margin-left: 488px;
    width: 134px;
    height: 40px;
    
}
.shared-img{
    border-radius: 20px ;
    width: 408px;
    height: 306px;
    
}



.RedMore-btn{
    margin-left: 488px ;
    margin-top: 32px;
}
.shared-btn{
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
    padding: 13px 16px;
    border-radius: 10px;
    border: none;
    background-color: rgba(0, 106, 80, 1);
}




/* '''''''''''''''''''''''''' */




.main-4th-part-contant2{
    
    text-align: right;
    margin-top: 32px;
    margin-right: 160px;
    padding: 48px 48px;
    height: 315px;
    margin-left: 160px;
    text-align: left;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 15px;
    
    

}



.main-4th-part-contant2 h2{
    
    color: rgba(14, 14, 14, 0.8);
    font-weight: bold   ;
    font-size: 32px;
    margin-top: -290px;

}

.main-4th-part-contant2 p{
   
    
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}



.shared-img2 {
    border-radius: 20px;
    width: 408px;
    height: 306px; 
    display: flex;
    margin-left: auto;
}




.news-img2{
    margin-top: 1px;
    
    width: 134px;
    height: 40px;
    align-items: end;
    
}
.RedMore-btn2{
    margin-top: 20px;
}


.footer{
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 80px;
    text-align: center;
}

.footer h2{
    color: rgba(14, 14, 14, 1) ;
    font-size: 40px;
    font-weight: bold;
    
}
.footer p{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    margin-top: 24px;
}



.donate-money{
    display:flex;
    justify-content: space-around;
    margin-left: 180px;
    margin-right: 180px;
    margin-top:  32px; 
}

.donate-money h1{
    border: 1px solid rgba(14, 14, 14, 0.15);
    padding: 40px;
    border-radius: 20px;
    
    font-size: 40px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
    
}

.donate-money h1:hover{
    background-color: rgba(198, 228, 214, 1);
    
} 

.input-donate-amount{
    display: flex;
    justify-content: center;
    margin-top: 32px;
    margin-left: 180px;
    margin-right: 180px;
    
}

.input-donate-amount textarea{
    width: 1300px ;
    height: 64px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    resize: none;
    text-align: center;
    padding-top: 20px;
    font-size: 32px;
    color: rgba(14, 14, 14, 0.8);
    font-weight: bold;
    
}

.input-donate-amount textarea::placeholder{
    font-size: 22px;
    color: rgba(14, 14, 14, 0.3);
    margin-top: 25px;
}


.done-now-btn{
    
    padding: 17px 34px;
    
    border: none;
    background-color:rgba(0, 106, 80, 1);
    font-size: 17px;
    border-radius: 10px;
    color: rgba(255, 255, 255, 1);
    font-size: 17px;
    font-weight: bold;
}

.done-now-btn-position{
    display: flex;
    margin-top: 49px;
    justify-content: center;
    margin-left: 180px;
    margin-right: 180px;
}


.footer-subscribe-secton{
    margin-left: 160px;
    margin-right: 160px;
    border: none;
    text-align: center;
    height: 395px;
    margin-top: 80px;
    padding: 80px 80px;
    border-radius: 15px;
    background-color: rgba(198, 228, 214, 1);
}

.footer-subscribe-secton h1{
    margin-top: 80px;
    font-size:40;
    color: rgba(14, 14, 14, 1);
    font-weight: bold;
}
.footer-subscribe-secton p{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    margin-top: 16px;
}


.footer-subscribe-secton .email-input{
    margin-top: 24px;
    width: 650px;
    height: 56px;
    border: none;
    text-align: left;
    border-radius: 5px;
    padding-left: 18px;
    color: rgba(14, 14, 14, 0.8);
    font-size: 17px;
    outline: none;
}

.footer-subscribe-secton .email-input::placeholder{
    margin-right: 18px;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.3);
}

.submit-btn{
    padding: 18px 34px;
    border: none;
    background-color: rgba(0, 106, 80, 1);
    font-size: 17px;
    border-bottom-right-radius : 5px;
    border-top-right-radius : 5px;
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
    
}

.footer-subscribe-secton .submit-btn{
    margin-left: -15px;
    
}



.footer-end{
    text-align: center;
    margin-top: 80px;
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
    height: 30vh;
    

}

.footer-end h1{
    font-size: 32px;
    padding-top: 50px;
    color: rgba(14, 14, 14, 1);
}
.footer-end hr{
    margin-left: 240px;
    margin-right: 240px;
    margin-top: 32px;
}

.footer-end img {
    margin-top: 32px;
    
    padding: 10px;
    
}